* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  padding-top: 3em;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(23, 23, 23);
  padding-bottom: 3em;
}

button {
  background: #5e5df0;
  border-radius: 999px;
  /* box-shadow: #5e5df0 0 10px 20px -10px; */
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  /* font-size: 16px; */
  font-weight: 500;
  line-height: 17px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
button a {
  text-decoration: none;
  color: white;
}
#discover {
  font-size: 3em;
  width: 25%;
}
#description {
  color: white;
  display: flex;
  flex-direction: column;
  width: 43%;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
}
#spag {
  width: 37%;
  height: 37%;
  border-radius: 3em;
}
#description2 {
  margin-bottom: 4vh;
  font-size: 350%;
  font-weight: 600;
}
#description3 {
  font-size: 1.5em;
  font-weight: 350;
  margin-bottom: 0.7em;
}

#questions {
  font-size: 1em;
  width: 50%;
  margin-left: 1em;
}
.getstarted {
  display: flex;
  flex-direction: row;
}
#Dev {
  text-decoration: underline;
  background-color: transparent;
  color: #5e5df0;
  font-size: 0.85em;
}

#clickable {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
