/*Recipe Viewer*/
.main3 {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin-top: 2em;
  background-color: #dddddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 5em auto;
}
.main3 .recipes {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-evenly;
  flex-direction: row;
}
.main3 .recipe {
  display: block;
  margin: 20px;
  width: 100%;
  background-color: #cbcaca;
  border-radius: 5px;
  text-align: middle;
  /*transition: transform 0.3s ease;*/
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 50px;

}
.main3 .recipe li {
  list-style-type:circle;
  margin: 10px;
  margin-left: 30px;
  text-align: left;
}
.main3 .recipe h3 {
  text-align: left;
}
.main3 #CookingInstructions li {
  list-style-type:decimal;
}
.main3 img {
  max-width: 30%;
  max-height: 30%;
  border-radius: 5px;
  padding-top: 1em;
}
/*Recipe Viewer End*/
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  /* overflow-x: hidden; */
}
:root {
  --main-color: #14ed67;
  --black: #000;
  --gray: #2d2d2d;
  --main-color: #5e5df0;
  --white: #fff;
}

body {
  max-width: 100%;
}
.recipepage {
  display: flex;
  flex-direction: column;
  background-color: #fefefd;
}

button {
  background: #5e5df0;
  border-radius: 999px;
  /* box-shadow: #5e5df0 0 10px 20px -10px; */
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  /* font-size: 16px; */
  font-weight: 500;
  line-height: 17px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  height: 40px;
  border: 0;
}
button a {
  text-decoration: none;
  color: white;
}
/* Search Bar */
.main2 {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin-top: 2em;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  margin: 5em auto;
}
.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 1vh 0 5vh 0;
}
.recipe {
  display: flex;
  width: 20em;
  margin: 10px;
  background-color: #cbcaca;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.recipe:hover {
  transform: scale(1.1);
}

.recipe img {
  border-radius: 5px;
  padding-top: 2em;
}
.search {
  width: 75%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid var(--main-color);
  border-right: none;
  padding: 17px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--gray);
}

.searchTerm:focus {
  color: var(--black);
}

.searchButton {
  border: 1px solid var(--main-color);
  background: var(--main-color);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1em;
 /* width: 15%;*/
  word-break: unset;
}
.searchButtonLeft {
  border: 1px solid var(--main-color);
  background: var(--main-color);
  text-align: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 1em;
 /* width: 15%;*/
  word-break: unset;
}
/*Resize the wrap to see the search bar change!*/
.wrap1 {
  width: 100%;
  padding: 2em 0 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.35em;
}
#group_title {
  font-size: 1.5em;
}
.teamtitle {
  padding-top: 0.1em;
  font-size: 1em;
}

#searchframe {
  max-width: 100%;
}
#ExampleChefRecipes {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
}
#searchframe {
  width: 100%;
  justify-content: center;
}